*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	font-family: sans-serif;
	max-width: 768px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 16px;
}

h3, form, label {
	margin-top: 0;
	margin-bottom: 16px;
}

h3, form {
	display: block;
}

label {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

label > span {
	display: block;
	margin-bottom: 4px;
	flex-grow: 1;
}

input, button {
	padding: 8px;
	height: 36px;
}

input {
	font-family: monospace;
}

.password {
	display: flex;
	gap: 8px;
}

.password input {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

hr {
	color: transparent;
	border: 0;
	border-bottom: 1px solid #808080;
	margin: 16px 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}
